<footer class="footer mt-md">
  <%= link_to image_tag("cohemp-white.svg"), class: "footer__logo" %>
  <p class="footer__right">All rights reserved ™</p>
  <div class="footer__social">
    <i class="fab fa-instagram"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-facebook"></i>
  </div>
</footer>