// Co-hemp variables
@import "partials/_variables";
@import "partials/_reset";
@import "partials/_utils";

// Co-hemps partials
@import "partials/_button";
@import "partials/card_horizontal";
@import "partials/card_vertical";
@import "partials/footer";
@import "pages/profile";

// External libraries

// @import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Le Wagon's partials
@import "components/index";
@import "pages/index";

body {
<<<<<<< HEAD
  position: relative;
  min-height: 100vh;
  height: fit-content;
  height: auto;
=======
  display: grid;
  grid-template-rows: 60px 1fr;
  main {
    grid-area: 2 / 1 / 3 / 2;
  }
>>>>>>> c55fb7b1ae75c37dd23baa549305bed9241d27d3
}
