// Co-hemp variables
@import "partials/_variables";
@import "partials/_reset";
@import "partials/_utils";

// Co-hemps partials
@import "partials/_button";
@import "partials/card_horizontal";
@import "partials/card_vertical";
@import "partials/footer";
@import "pages/profile";

// External libraries

// @import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Le Wagon's partials
@import "components/index";
@import "pages/index";

body {
  position: relative;
  min-height: 100vh;
  height: fit-content;
  height: auto;
}
